<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.toughput.mobiledzikir">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/playapplogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconapp4"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragmentCont"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NiatPuasaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BukaPuasaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SolatTarawihActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Witir1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ItikafSunahActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MalamLailatulActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JadwalSholatActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".HomeSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".qibladirection"
            android:screenOrientation="portrait"
            android:theme="@style/qiblaDir"/>
    </application>

</manifest>